<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="Style.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(function () {
        $("#direction").change(function () {
            if (($(this).val() == "center_right") || ($(this).val() == "center_left")){
                $("#div_center_corner").show();
            } else {
                $("#div_center_corner").hide();
            }
        });
    });
</script>
<noscript>
      JavaScript is disabled.
</noscript>
</head>
<body>
<link rel="shortcut icon" href="favicon.ico">
<h1>Lightymon</h1>
	<form method="POST">
	  <p><a href="{{ url_for('setleds') }}">To set the LED configuration 'click here'</a></p>
	</form> 
</body>
</html>
