<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}">

<link rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='apple-touch-icon.png') }}">

<link rel="icon"
      type="image/png"
      sizes="180x180"
      href="{{ url_for('static', filename='favicon-32x32.png') }}">

<link rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='favicon-16x16.png') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(function () {
        $("#direction").change(function () {
            if (($(this).val() == "center_right") || ($(this).val() == "center_left")){
                $("#div_center_corner").show();
            } else {
                $("#div_center_corner").hide();
            }
        });
    });
</script>
<noscript>
      JavaScript is disabled.
</noscript>
</head>
<body>
<h1>Lightymon</h1>
	<form method="POST">
	  <p><a href="{{ url_for('setleds') }}">To set the LED configuration 'click here'</a></p>
	</form> 
</body>
</html>
