<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
<link rel="shortcut icon"
      href="{{ url_for('static', filename='favicon.ico') }}">

<link rel="apple-touch-icon"
      sizes="180x180"
      href="{{ url_for('static', filename='apple-touch-icon.png') }}">

<link rel="icon"
      type="image/png"
      sizes="180x180"
      href="{{ url_for('static', filename='favicon-32x32.png') }}">

<link rel="icon"
      type="image/png"
      sizes="16x16"
      href="{{ url_for('static', filename='favicon-16x16.png') }}">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">
</script>
<script type="text/javascript">
    $(function () {
        $("#direction").change(function () {
            if (($(this).val() == "center_right") || ($(this).val() == "center_left")){
                $("#div_center_corner").show();
            } else {
                $("#div_center_corner").hide();
            }
        });
    });
</script>
<noscript>
      JavaScript is disabled.
</noscript>
</head>
<body>
<h1>Set LEDs for Lightymon</h1>
	<form method="POST">
	<br>
	<!-- device -->
	<!-- Dropdownfield for LED device type-->
		<div id="div_device">
			<label for="device">Select your LED device:</label>
			<br>
			<select class="select-css" id="device" name="device">
				<option value="adalightapa102">Lightymon USB (apa102)</option>
				<option value="adalight">Lightymon USB (ws2801)</option>
				<option value="ws2801">ws2801</option>
				<option value="apa102">apa102</option>
				<option value="lightymonXL">lightymonXL</option>
			</select>
		</div>
		<br>
		<br>
		<!-- ledh -->
		<!-- Number of LEDS horizontally-->
		<div id="div_ledh">
			<label for="ledh">Select number of LEDs horizontally:</label><br>
			<input id="ledh" class="advancedTextfield" name="ledh" type="number" value="26">
		</div>
		<br>
		<!-- ledv -->
		<!-- Number of LEDS vertically -->
		<div id="div_ledv">
			<label for="ledv">Select number of LEDs vertically:</label><br>
			<input id="ledv" class="advancedTextfield" name="ledv" type="number" value="16">
		</div>
		<br><br>
		<!-- direction -->
		<!-- Dropdownfield for Direction -->
		<div id="div_direction">
			<label for="direction">Select where the LED chain starts:</label>
			<br>
			<select class="select-css" id="direction" name="direction">
				<option value="right">Right/bottom corner and goes up</option>
				<option value="left">Left/bottom corner and goes up</option>
				<option value="center_right">Center/bottom and goes right</option>
				<option value="center_left">Center/bottom and goes left</option>
			</select>
		</div>
		<br><br>
		<!-- center_corner -->
		<!-- Only Visible when center_right or center_left is selected -->
		<!-- Is the offset of the LEDs from the center to the right/left corner -->
		<div id="div_center_corner" style="display: none">
			<label for="center_corner">How many LED from the center to the corner or the screen?</label><br>
			<input id="center_corner" class="advancedTextfield" name="center_corner" type="number" value="13">
			<br><br>
		</div>
		
		<input type="submit" class="button" value="  Submit">
	</form> 
</body>
</html>
